POSTGRES_PASSWORD=__SET_ME__
CONNECTIONSTRINGS__DEFAULTCONNECTION=Host=database;Port=5432;Database=pinpoint_gis;Username=postgres;Password=__SET_ME__
JWT__KEY=__SET_ME__
JWT__ISSUER=PinpointGis
JWT__AUDIENCE=PinpointGisClient
JWT__EXPIRATIONMINUTES=120
